<div class="merc-viewer-container p-2">
  <div class="merc-name-container">
    <h3 class="pt-2 pl-2">{{ selectedMerc.name }}</h3>
  </div>
  <hr>
  <div class="merc-viewer-data">
    <div class="merc-info-container p-3">
      <app-merc-info [info]="selectedMerc.information">

      </app-merc-info>
    </div>
    <div class="merc-data-container">
      <div class="dark-text p-2 d-flex align-items-center justify-content-between">
        <input type="text" class="dark-text merc-name" [value]="selectedMerc?.name" [disabled]="!isEditable"
               [class.border-transparent]="!isEditable">
        <button class="empty-btn dark-btn h6-small" (click)="isEditable? saveMerc(): this.isEditable = true"> {{ isEditable?"Save":"Edit" }}</button>
      </div>
      <div class="merc-img-container">
        <img src="{{ selectedMerc?.imgUrl }}" alt="" class="merc-img">
      </div>
      <app-merc-data-group [name] = "'Profile'"></app-merc-data-group>
      <app-merc-data-item [name] = "'Real Name'" [(value)]="selectedMerc.profile.realName" [isEditable]="isEditable">
      </app-merc-data-item>
      <app-merc-data-item [name] = "'Nationality'" [(value)]="selectedMerc.profile.nationality" [isEditable]="isEditable">
      </app-merc-data-item>
      <app-merc-data-group [name] = "'Attributes'">
      </app-merc-data-group>
      <app-merc-data-item [name] = "'Class'" [(value)]="selectedMerc.attributes.class" [isEditable]="isEditable">
      </app-merc-data-item>
      <app-merc-data-group [name] = "'Cost'">
      </app-merc-data-group>
    </div>
  </div>
</div>
