<div class="app-merc-viewer-container">
  <div class="merc-img-container">
    <img src="{{ selectedMerc?.imgUrl }}" alt="" class="merc-img">
  </div>
  <div class="dark-text p-2 d-flex align-items-center justify-content-between">
    <div class="merc-name">{{ selectedMerc?.name }}</div>
    <button class="empty-btn dark-btn h6-small" (click)="this.editable = true" [disabled]="editable">Edit</button>
  </div>
  <app-merc-data-group *ngFor="let group of selectedMerc?.data" [dataGroup]="group" [editable]="editable">

  </app-merc-data-group>
  <div *ngIf="editable">
    <button (click)="saveMerc()">Save</button>
  </div>
</div>
