.merc-viewer-container {
  background-color: white;
  border: 1px solid grey;
}

.merc-img {
  width: 270px;
  height: 429px;
}

.merc-viewer-data {
  display: flex;
  flex-direction: row;
}

:host {
  display: flex;
  margin-right: auto;
}

.merc-name {
  font-size: 20px;
}
