<div class="merc-data-container">
  <div class="dark-text p-2 d-flex align-items-center justify-content-between">
    <input type="text" class="dark-text merc-name w-100" [value]="merc?.name" [disabled]="!isEditable"
           [class.dark-input-editable]="isEditable">
  </div>
  <img src="{{ merc?.imgUrl }}" alt="" class="merc-img">
  <div *ngIf="isEditable">
    <app-merc-data-group [name]="'Resources'"></app-merc-data-group>
    <app-merc-data-item [name]="'Image'" [(value)]="merc.imgUrl">
    </app-merc-data-item>
    <app-merc-data-item [name]="'Image preview'" [(value)]="merc.imgPreviewUrl">
    </app-merc-data-item>
    <app-merc-data-item [name]="'Video'" [(value)]="merc.information.videoUrl">
    </app-merc-data-item>
  </div>
  <app-merc-data-group [name]="'Profile'"></app-merc-data-group>
  <app-merc-data-item [name]="'Real Name'" [(value)]="merc.profile.realName" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Nationality'" [(value)]="merc.profile.nationality" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-group [name]="'Attributes'">
  </app-merc-data-group>
  <app-merc-data-item [name]="'Class'" [(value)]="merc.attributes.class" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Health'" [(value)]="merc.attributes.health" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Sprint'" [(value)]="merc.attributes.sprint" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Arm'" [(value)]="merc.attributes.arm" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Defuse'" [(value)]="merc.attributes.defuse" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-group [name]="'Cost'">
  </app-merc-data-group>
  <app-merc-data-item [name]="'Credits'" [(value)]="merc.cost.credits" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Money'" [(value)]="merc.cost.money" [isEditable]="isEditable">
  </app-merc-data-item>
</div>
