<div class="merc-data-container">
  <div class="dark-text p-2 d-flex align-items-center justify-content-between">
    <input type="text" class="dark-text merc-name w-100" [value]="selectedMerc?.name" [disabled]="!isEditable"
           [class.dark-input-editable]="isEditable">
    <button class="empty-btn dark-btn h6-small"
            (click)="isEditable? this.isEditable=false: this.isEditable = true"> {{ isEditable ? "Save" : "Edit" }}</button>
  </div>
  <img src="{{ selectedMerc?.imgUrl }}" alt="" class="merc-img">
  <div *ngIf="isEditable">
    <app-merc-data-group [name]="'Resources'"></app-merc-data-group>
    <app-merc-data-item [name]="'Image'" [(value)]="selectedMerc.imgUrl">
    </app-merc-data-item>
    <app-merc-data-item [name]="'Image preview'" [(value)]="selectedMerc.imgPreviewUrl">
    </app-merc-data-item>
    <app-merc-data-item [name]="'Video'" [(value)]="selectedMerc.information.videoUrl">
    </app-merc-data-item>
  </div>
  <app-merc-data-group [name]="'Profile'"></app-merc-data-group>
  <app-merc-data-item [name]="'Real Name'" [(value)]="selectedMerc.profile.realName" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Nationality'" [(value)]="selectedMerc.profile.nationality" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-group [name]="'Attributes'">
  </app-merc-data-group>
  <app-merc-data-item [name]="'Class'" [(value)]="selectedMerc.attributes.class" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Health'" [(value)]="selectedMerc.attributes.health" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Sprint'" [(value)]="selectedMerc.attributes.sprint" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Arm'" [(value)]="selectedMerc.attributes.arm" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Defuse'" [(value)]="selectedMerc.attributes.defuse" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-group [name]="'Cost'">
  </app-merc-data-group>
  <app-merc-data-item [name]="'Credits'" [(value)]="selectedMerc.cost.credits" [isEditable]="isEditable">
  </app-merc-data-item>
  <app-merc-data-item [name]="'Money'" [(value)]="selectedMerc.cost.money" [isEditable]="isEditable">
  </app-merc-data-item>
</div>
