<app-page-title [title]="'Mercenaries'" [description]="'The mercs are the playable classes/characters in Dirty Bomb. Each of them has their own health, run speed and abilities.'"></app-page-title>
<div class="container d-flex">
  <div class="bg-light mr-3 p-2">
    <h3 class="text-center pt-2">Mercenaries</h3>
    <hr>
    <div class="d-flex">
      <app-merc-card *ngFor="let merc of mercService.all()" [id] = "merc.id" [imgPreviewUrl]="merc.imgPreviewUrl" [name]="merc.name"  (click)="selectMercById(merc.id)">

      </app-merc-card>
    </div>
  </div>
  <app-merc-viewer [merc]="selectedMerc">

  </app-merc-viewer>
</div>
