<app-page-title
  [title]="'Weapons'"
  description="Dirty Bomb contains a lot of weapons that are based on real-life guns from Heckler & Koch (MP5, USP, HK21, etc)">
</app-page-title>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-auto bg-light px-4 py-3">
      <app-weapon
        *ngFor="let weapon of weapons" [weapon]="weapon"
        (addAsPrimary)="addPrimaryWeapon($event)"
        (addAsSecondary)="addSecondaryWeapon($event)"
        (addAsMelee)="addMeleeWeapon($event)">
      </app-weapon>
    </div>
    <app-merc-list-editor
      [lists]="[({title:'Primary', items:mercWeapons.primaries}),
      ({title:'Secondary', items:mercWeapons.secondaries}),
      ({title:'Melee', items:mercWeapons.melee})]"
      [merc]="merc">
    </app-merc-list-editor>
  </div>
</div>
