.merc-weapons-container{
  position: sticky;
  top: 20px;
  place-self: flex-start;
}

#save-btn{
  border: 1px solid black;
  background-color: black;
  color: #FDBC01;
}

#save-btn:hover{
  background-color: #FDBC01;
  color: white;
}
