<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header>

  </app-header>
  <div class="text-light text-center my-5">
    <h1 class="">Mercenaries</h1>
    <p class="">The mercs are the playable classes/characters in Dirty Bomb. Each of them has their own health, run speed and abilities.</p>
  </div>

  <div class="container d-flex">
    <div class="bg-light mr-3 p-2">
      <h3 class="text-center pt-2">Mercenaries</h3>
      <hr>
      <div class="d-flex">
        <app-merc-card *ngFor="let merc of repository.getAll()" [id] = "merc.id" [imgPreviewUrl]="merc.imgPreviewUrl" [name]="merc.name" (click)="selectMercById(merc.id)">

        </app-merc-card>
      </div>
    </div>
    <app-merc-viewer [selectedMerc]="selectedMerc">

    </app-merc-viewer>
  </div>

  <app-footer>

  </app-footer>
</body>
</html>
