<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header>

  </app-header>
  <div class="text-light text-center my-5">
    <h1 class="">Mercenaries</h1>
    <p class="">The mercs are the playable classes/characters in Dirty Bomb. Each of them has their own health, run speed and abilities.</p>
  </div>

  <div class="container d-flex">
    <app-merc-card *ngFor="let merc of repository.getAll()" [id] = "merc.id" [imgUrl] = "merc.imgUrl" [name]="merc.name">

    </app-merc-card>
  </div>
  <app-merc-viewer [selectedMerc]="repository.getAll()[0]">

  </app-merc-viewer>
  <app-footer>

  </app-footer>
</body>
</html>
