<h4>Primaries</h4>
<ul>
  <li *ngFor="let weapon of weapons.primaries">
    <div #imgContainer class="weapon-img-cotainer position-absolute">
      <img src="{{ weapon.imgUrl }}" alt="" class="weapon-img">
    </div>
    <a href="#" class="weapon" (mouseover)="setElementDisplay(imgContainer,'block')"
       (mouseleave)="setElementDisplay(imgContainer, 'none')">{{ weapon.name }}</a>
  </li>
</ul>
<h4>Secondaries</h4>
<ul>
  <li *ngFor="let weapon of weapons.secondaries">
    <div #imgContainer class="weapon-img-cotainer position-absolute">
      <img src="{{ weapon.imgUrl }}" alt="" class="weapon-img">
    </div>
    <a href="#" class="weapon" (mouseover)="setElementDisplay(imgContainer, 'block')"
       (mouseleave)="setElementDisplay(imgContainer, 'none')">{{ weapon.name }}</a>
  </li>
</ul>
<h4>Melee</h4>
<ul>
  <li *ngFor="let weapon of weapons.melee">
    <div #imgContainer class="weapon-img-cotainer position-absolute">
      <img src="{{ weapon.imgUrl }}" alt="" class="weapon-img">
    </div>
    <a href="#" class="weapon" (mouseover)="setElementDisplay(imgContainer, 'block')"
       (mouseleave)="setElementDisplay(imgContainer, 'none')">{{ weapon.name }}</a>
  </li>
</ul>
