<div>
  <h5>Primaries</h5>
  <ul>
    <li *ngFor="let weapon of weapons?.primaries">
      <div #imgContainer class="weapon-img-cotainer position-absolute">
        <img src="{{ weapon.imgUrl }}" alt="" class="weapon-img">
      </div>
      <span class="weapon" (mouseover)="setElementDisplay(imgContainer, 'block')"
            (mouseleave)="setElementDisplay(imgContainer, 'none')">{{ weapon.name }}</span>
    </li>
  </ul>
  <h5>Secondaries</h5>
  <ul>
    <li *ngFor="let weapon of weapons?.secondaries">
      <div #imgContainer class="weapon-img-cotainer position-absolute">
        <img src="{{ weapon.imgUrl }}" alt="" class="weapon-img">
      </div>
      <span class="weapon" (mouseover)="setElementDisplay(imgContainer, 'block')"
            (mouseleave)="setElementDisplay(imgContainer, 'none')">{{ weapon.name }}</span>
    </li>
  </ul>
  <h5>Melee</h5>
  <ul>
    <li *ngFor="let weapon of weapons?.melee">
      <div #imgContainer class="weapon-img-cotainer position-absolute">
        <img src="{{ weapon.imgUrl }}" alt="" class="weapon-img">
      </div>
      <span class="weapon" (mouseover)="setElementDisplay(imgContainer, 'block')"
            (mouseleave)="setElementDisplay(imgContainer, 'none')">{{ weapon.name }}</span>
    </li>
  </ul>
</div>
