<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="brand-icon"
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3d5ea240-c4f4-4699-8e91-3d0c631af15b/d9upyl1-24358e63-4b8c-45f1-b056-e2739a5c3946.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvM2Q1ZWEyNDAtYzRmNC00Njk5LThlOTEtM2QwYzYzMWFmMTViXC9kOXVweWwxLTI0MzU4ZTYzLTRiOGMtNDVmMS1iMDU2LWUyNzM5YTVjMzk0Ni5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.SmFRaI92YdugWSPh_dmbGDx82cC0a54G2rhenyPMtLE"
        alt="">
    <a href="/" class="navbar-brand">DIRTY<span>BOMB</span></a>
    <div class="collapse navbar-collapse">
    </div>
</nav>