.card {
  border: 1px solid grey;
  padding: 5px 8px;
  background-color: #060709;
  cursor: pointer;
}

.card-merc-name {
  background-color: rgba(0,0,0,0.6);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
}
